  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="~/css/Index.css"/>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bem Vindo ao Sistema da Atividade Avaliativa.</p>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Formulário de Login -->
        <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    
        <!-- Esqueci minha senha -->
        <div id="formFooter">
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cadastro">Esqueci Minha Senha</a>
        </div>
      </div>
    </div>
</div>